# US - Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv).

### Step 3. Assign it to a variable called baby_names.

In [7]:
baby_names = pd.read_csv('/Users/henry/pandas_exercises/06_Stats/US_Baby_Names/US_Baby_Names_right.csv', sep =',')

### Step 4. See the first 10 entries

In [10]:
baby_names.head(10)

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [19]:
baby_names = baby_names.drop(['Unnamed: 0', 'Id'], axis = 1)
baby_names.head(10)

       Name  Year Gender State  Count
0      Emma  2004      F    AK     62
1   Madison  2004      F    AK     48
2    Hannah  2004      F    AK     46
3     Grace  2004      F    AK     44
4     Emily  2004      F    AK     41
5   Abigail  2004      F    AK     37
6    Olivia  2004      F    AK     33
7  Isabella  2004      F    AK     30
8    Alyssa  2004      F    AK     29
9    Sophia  2004      F    AK     28

### Step 6. Is there more male or female names in the dataset?

In [21]:
baby_names['Gender'].value_counts()

F    558846
M    457549
Name: Gender, dtype: int64

### Step 7. Group the dataset by name and assign to names

In [27]:
baby_names = baby_names.drop(['Year'], axis = 1)
baby_names.groupby('Name').sum()
baby_names.sort_values("Count", descending = True).head()

KeyError: "['Year'] not found in axis"

In [29]:
baby_names.head()

      Name Gender State  Count
0     Emma      F    AK     62
1  Madison      F    AK     48
2   Hannah      F    AK     46
3    Grace      F    AK     44
4    Emily      F    AK     41

### Step 8. How many different names exist in the dataset?

In [ ]:
baby_names

### Step 9. What is the name with most occurrences?

### Step 10. How many different names have the least occurrences?

### Step 11. What is the median name occurrence?

### Step 12. What is the standard deviation of names?

### Step 13. Get a summary with the mean, min, max, std and quartiles.