# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as py

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep = '\t')

### Step 4. How many products cost more than $10.00?

In [4]:
dollarizer = lambda x: float(x[1:-1])
#reads column item_price excluding '$' from being read
chipo.item_price = chipo.item_price.apply(dollarizer)
chipo.item_price.astype(float)

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [5]:
chipo.quantity.drop_duplicates()
chipo.item_name.drop_duplicates()

0                Chips and Fresh Tomato Salsa
1                                        Izze
2                            Nantucket Nectar
3       Chips and Tomatillo-Green Chili Salsa
4                                Chicken Bowl
6                               Side of Chips
7                               Steak Burrito
8                            Steak Soft Tacos
10                        Chips and Guacamole
11                       Chicken Crispy Tacos
12                         Chicken Soft Tacos
16                            Chicken Burrito
18                                Canned Soda
21                           Barbacoa Burrito
27                           Carnitas Burrito
33                              Carnitas Bowl
34                              Bottled Water
38      Chips and Tomatillo Green Chili Salsa
39                              Barbacoa Bowl
40                                      Chips
44                         Chicken Salad Bowl
54                                 Steak Bowl
56                        Barbacoa Soft Tacos
57                             Veggie Burrito
62                                Veggie Bowl
92                         Steak Crispy Tacos
111       Chips and Tomatillo Red Chili Salsa
168                     Barbacoa Crispy Tacos
186                         Veggie Salad Bowl
191        Chips and Roasted Chili-Corn Salsa
233        Chips and Roasted Chili Corn Salsa
237                       Carnitas Soft Tacos
250                             Chicken Salad
263                         Canned Soft Drink
281                          Steak Salad Bowl
298                         6 Pack Soft Drink
300       Chips and Tomatillo-Red Chili Salsa
445                                      Bowl
510                                   Burrito
520                              Crispy Tacos
554                     Carnitas Crispy Tacos
664                               Steak Salad
674         Chips and Mild Fresh Tomato Salsa
738                         Veggie Soft Tacos
1132                      Carnitas Salad Bowl
1229                      Barbacoa Salad Bowl
1414                                    Salad
1653                      Veggie Crispy Tacos
1694                             Veggie Salad
3750                           Carnitas Salad
Name: item_name, dtype: object

In [6]:
chipo[chipo['item_price'] > 10].count()

order_id              1130
quantity              1130
item_name             1130
choice_description    1123
item_price            1130
dtype: int64

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [51]:
chipo[['item_name','item_price']].head()

                               item_name  item_price
0           Chips and Fresh Tomato Salsa        2.39
1                                   Izze        3.39
2                       Nantucket Nectar        3.39
3  Chips and Tomatillo-Green Chili Salsa        2.39
4                           Chicken Bowl       16.98

### Step 6. Sort by the name of the item

In [20]:
chipo.sort_values('item_name')

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [29]:
chipo.sort_values('quantity', ascending = False).head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [48]:
chipo_vsb = chipo.groupby(['item_name'])['quantity'].sum()
chipo_vsb.filter(like = 'Veggie Salad Bowl')

item_name
Veggie Salad Bowl    18
Name: quantity, dtype: int64

### Step 9. How many times did someone order more than one Canned Soda?

In [65]:
chipo[['item_name','quantity']]

                                  item_name  quantity
0              Chips and Fresh Tomato Salsa         1
1                                      Izze         1
2                          Nantucket Nectar         1
3     Chips and Tomatillo-Green Chili Salsa         1
4                              Chicken Bowl         2
...                                     ...       ...
4617                          Steak Burrito         1
4618                          Steak Burrito         1
4619                     Chicken Salad Bowl         1
4620                     Chicken Salad Bowl         1
4621                     Chicken Salad Bowl         1

[4622 rows x 2 columns]

In [122]:


sodas = chipo.groupby('item_name')['quantity'].value_counts()

In [111]:
soda= chipo[chipo['item_name'].str.contains('Canned Soda')]
soda[soda['quantity']>1].count()

order_id              20
quantity              20
item_name             20
choice_description    20
item_price            20
dtype: int64